@model TeacherViewModel

<li class="list-group-item flex-row__space-between">
    <div class="alert alert-success" role="alert">Teacher full name</div>
    <div class="alert alert-light" role="alert">@Model.FullName</div>
</li>