@model LoadViewModel

@{
    ViewData["Title"] = "Создание нагрузки";
}

<div class="flex-row__space-between">
    <h5 style="margin: 2vw;">Создание нагрузки</h5>
</div>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        <form asp-action="CreateLoad" asp-controller="Load" asp-antiforgery="true">
            <div>
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="flex-column">
                    <div>
                        <label asp-for="Hours"></label>
                        <input class="form-control" type="number" asp-for="Hours" />
                    </div>
                    <span asp-validation-for="Hours" />
                </div>
                @await Component.InvokeAsync("GetSubjects")
                @await Component.InvokeAsync("GetTeachers")
                @await Component.InvokeAsync("GetLoadTypes")
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Создать" />
            </div>
        </form>
        <form method="get" asp-action="ShowLoads" asp-controller="Load" asp-antiforgery="false">
            <input type="submit" class="btn btn-secondary" style="margin: 1vw;" value="Отмена" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}