@model List<LoadViewModel>

@{
    ViewData["Title"] = "Нагрузки";
}

@await Html.PartialAsync("~/Views/_Directories.cshtml")
<div class="flex-row__space-between" style="margin: 1vw;">
    <h5>Нагрузки</h5>
</div>
@await Component.InvokeAsync("GetTeachers")
<div id="result"></div>

<script src="~/js/Load/load.content.js" asp-append-version="true"></script>