@model List<LoadViewModel>

@{
    ViewData["Title"] = "Нагрузки";
}

@{
    var groupByTeachers = Model.GroupBy(val => val.TeacherId).ToList();
}

<div class="flex-row__space-between" style="margin: 1vw;">
    <h5>Нагрузки</h5>
</div>
@await Component.InvokeAsync("GetTeachers")
<div id="result"></div>
<ul style="padding: 0;">
    @foreach (var item in groupByTeachers)
    {
        <li style="margin-top: 15px;">
            @await Component.InvokeAsync("GetTeacherById", new { id = item.Key })
            @await Html.PartialAsync("ShowLoadsByTeacherId", item.Select(val => val).ToList())
        </li>
    }
</ul>

<script src="~/js/Load/load.content.js" asp-append-version="true"></script>