<div>
    Мы, нижеподписавшиеся: <strong>Исполнитель</strong> @ViewBag.Executar ученная степень @ViewBag.Education с одной стороны, и <strong>Заказчик</strong> проректор по учебной работе Сычев Александр Васильевич,
    действующий доверенности от 07.07.2020 г. № 60, с другой стороны, составили акт о том, что в период с @ViewBag.StartPeriod г. по @ViewBag.FinishPeriod г. <strong>Исполнителем</strong> выполнена,
    а <strong>Заказчиком</strong> принята в ИПК и П педагогическая работа на условиях почасовой оплаты труда в объеме 23 часов, из них
</div>
