@model SpecialityViewModel

@{
    ViewData["Title"] = "Создание специальности";
}

<div class="flex-row__space-between">
    <h5 style="margin: 2vw;">Создание специальности</h5>
</div>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        <form asp-action="CreateSpeciality" asp-controller="Speciality" asp-antiforgery="true">
            <div>
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="flex-column">
                    <div>
                        <label asp-for="Name"></label>
                        <input class="form-control" type="text" asp-for="Name" />
                    </div>
                    <span asp-validation-for="Name" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Facility"></label>
                        <input class="form-control" type="text" asp-for="Facility" />
                    </div>
                    <span asp-validation-for="Facility" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Chair"></label>
                        <input class="form-control" type="text" asp-for="Chair" />
                    </div>
                    <span asp-validation-for="Chair" />
                </div>
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Создать" />
            </div>
        </form>
        <form method="get" asp-action="ShowSpecialities" asp-controller="Speciality" asp-antiforgery="false">
            <input type="submit" class="btn btn-secondary" style="margin: 1vw;" value="Отмена" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}