@model GroupViewModel

@{
    ViewData["Title"] = "Создание группы";
}

@await Html.PartialAsync("~/Views/_Directories.cshtml")
<div class="flex-row__space-between">
    <h5 style="margin: 2vw;">Создание группы</h5>
</div>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        <form asp-action="CreateGroup" asp-controller="Group" asp-antiforgery="true">
            <div>
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="flex-column">
                    <div>
                        <label asp-for="Name"></label>
                        <input class="form-control" type="text" asp-for="Name" />
                    </div>
                    <span asp-validation-for="Name" />
                </div>
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Создать" />
            </div>
        </form>
        <form method="get" asp-action="ShowGroups" asp-controller="Group" asp-antiforgery="false">
            <input type="submit" class="btn btn-secondary" style="margin: 1vw;" value="Отмена" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}