@model ExecuteLoadViewModel

@{
    ViewData["Title"] = "Выполнение нагрузки";
}

@await Html.PartialAsync("~/Views/_Directories.cshtml")
<div class="flex-row__space-between" style="margin: 1vw;">
    <h5>Выполненые нагрузки</h5>
</div>
@await Component.InvokeAsync("GetTeachers")
<div id="result"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
<script src="~/js/ExecuteLoad/executeLoad.content.js" asp-append-version="true"></script>