@model TeacherViewModel

@{
    ViewData["Title"] = "Создание преподавателя";
}

<div class="flex-row__space-between">
    <h5 style="margin: 2vw;">Создание преподавателя</h5>
</div>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        <form asp-action="CreateTeacher" asp-controller="Teacher" asp-antiforgery="true">
            <div>
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="flex-column">
                    <div>
                        <label asp-for="FullName"></label>
                        <input class="form-control" type="text" asp-for="FullName" />
                    </div>
                    <span asp-validation-for="FullName" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Position"></label>
                        <input class="form-control" type="text" asp-for="Position" />
                    </div>
                    <span asp-validation-for="Position" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Education"></label>
                        <input class="form-control" type="text" asp-for="Education" />
                    </div>
                    <span asp-validation-for="Education" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Birthday"></label>
                        <input class="form-control" type="date" asp-for="Birthday" />
                    </div>
                    <span asp-validation-for="Birthday" />
                </div>
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Создать" />
            </div>
        </form>
        <form method="get" asp-action="ShowTeachers" asp-controller="Teacher" asp-antiforgery="false">
            <input type="submit" class="btn btn-secondary" style="margin: 1vw;" value="Отмена" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}