@model LoginViewModel

@{
    ViewData["Title"] = "Авторизация";
}

<div class="flex-row__space-between">
    <h5 style="margin: 2vw;">Авторизация</h5>
</div>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
            <div>
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="flex-column">
                    <div>
                        <label asp-for="UserName"></label>
                        <input class="form-control" type="text" asp-for="UserName" />
                    </div>
                    <span style="color: sandybrown;" asp-validation-for="UserName"></span>
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Password"></label>
                        <input class="form-control" type="password" asp-for="Password" />
                    </div>
                    <span style="color: sandybrown;" asp-validation-for="Password"></span>
                </div>
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Войти" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

