@model LoadViewModel

<li class="list-group-item flex-row__space-between">
    <div class="alert alert-success" role="alert">Load description</div>
    <div class="alert alert-light" role="alert">@Model.Description</div>
</li>