@model SubjectViewModel

<li class="list-group-item flex-row__space-between">
    <div class="alert alert-success" role="alert">Subject name</div>
    <div class="alert alert-light" role="alert">@Model.Name</div>
</li>